<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/home.css" rel="stylesheet" type="text/css">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Recomandare Restaurante</title>

  <!-- Bootstrap core CSS -->
  



</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Recomandare Restaurante</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
	<!-- div class="slide-container">
                <span id="slider-image-1"></span>
                <span id="slider-image-2"></span>
                <span id="slider-image-3"></span>
            <div class="image-container">
                <img src="images/1.jpg" class="slider-image">
                <img src="images/2.jpg" class="slider-image">
                <img src="images/3.jpg" class="slider-image">
            </div>
            <div class="button-container">
                <a href="#slider-image-1" class="slider-button"></a>
                <a href="#slider-image-2" class="slider-button"></a>
                <a href="#slider-image-3" class="slider-button"></a>
            </div>
        </div -->
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Bine ai venit!</h1>
      <p class="lead">Daca vrei o aplicatie in care sa gasesti cele mai bune restaurante si sa ti evidenta lor, atunci ai gasit locul potrivit.</p>
      <a href="/login" class="btn btn-primary btn-lg">Log In</a>
      <a href="/signup" class="btn btn-primary btn-lg">Sign Up</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="images/international.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Preparate Internationale</h4>
            <p class="card-text">Din bucataria lumii adunate, preparate internationale clasice, consacrate, cunoscute si apreciate la nivel mondial, pe care le gasim in meniurile restaurantelor si bistro-urilor din toata lumea.</p>
          </div>
          
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="images/romanesti.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Preparate Romanesti</h4>
            <p class="card-text">Retete culinare. Bucataria romaneasca nu se poate lauda cu rafinamentul, insa cu siguranta se poate lauda cu gustul bogat.</p>
          </div>
          
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="images/pizza.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Pizza</h4>
            <p class="card-text">Pizza a devenit cea mai populară mâncare din ultimii ani în lume și în același timp, imaginea reprezentativă a mâncării rapide.</p>
          </div>
          
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="images/burgeri.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Burgeri</h4>
            <p class="card-text">Burgerul a devenit in acesti ultimi ani un simbol pe care majoritatea restaurantelor l-au adoptat si l-au personalizat prin diferite retete de Pui, Vita sau Vegetarian.</p>
          </div>
        
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"></p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
